/* 灰色小号字体 */
.font-color{
	color: #828ea1;
	font-size: 28rpx;
}
/* 特殊字体 */
.special-font-color{
	color: green;
	font-size: 28rpx;
	
}
/* 大号字体 */
.main-font-color{
	color: rgb(29, 38, 53);
	font-size: 28rpx;
}
/* icon星星字体颜色和大小 */
.icon-color{
	color: #828ea1;
	font-size: 40rpx;
}
/* 灰色大号字体 */
.grey-font-color{
	font-size: 28rpx;
	color: #828ea1;
}
/* 夜间模式 */
.change-color{
	background-color: rgb(29, 38, 53)
}
/* 夜间模式下的一些文字的颜色 */
.dark-color{
	color:#FFFFFF
}